
body{
    position: relative;
    background: black;
}
#logo{
    width: 50px;
    height: 50px;
}
#eslogan{
    margin-right: 20px;
}
#section1{
    margin-top: 70px;
    background-image: url(images/background.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-attachment: scroll;
}
#section2{
    width: 100%;
    height: 700px;
    background-attachment: fixed;
}/*
#section3{
    background-image: url(images/background3.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
}
#section4{
    background-image: url(images/background4.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
}
#section51{
    background-image: url(images/background51.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
}
#section52{
    background-image: url(images/background52.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
}
#section53{
    background-image: url(images/background53.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
}*/